{% load static %}

<html lang="en" class="no-js">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ClusterAi</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="site.webmanifest">

</head>


<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="{% static 'images/logo.svg' %}" alt="Homepage">
                        </a>
                    </div>

                </div> <!-- end s-header__block -->

                <nav class="s-header__nav">

                    <ul class="s-header__menu-links">
                    
                    </ul> <!-- s-header__menu-links -->

                    <div class="s-header__contact">
                    </div> <!-- s-header__contact -->

                </nav> <!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">

                        <div class="s-intro__content-text">
                            <div class="s-intro__content-pretitle text-pretitle">Hello, I'm ClusterAi</div>
                            <h1 class="s-intro__content-title">
                                I do keyword clustering for you.

                            </h1>
                        </div> <!-- s-intro__content-text -->
                        <div class="s-intro__content-media">
                            <div class="s-intro__content-media-inner">
                                <img src="{% static 'images/intro-bg.jpg' %}"
                                    srcset="{% static 'images/intro-bg.jpg' %} 1x, {% static 'images/intro-bg@2x.jpg' %} 2x" alt="">
                                <div class="lines">
                                    <span></span>
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->
                        <form action="out">
                            <button type="submit" class="btn btn--primary">
                                Get Started
                            </button>
                        </form>

                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="{% static 'images/geometric_shape.svg' %}" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">About Me</div>
                            <h2 class="text-display-title">
                            </h2>
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                I am ClusterAI, a project designed to revolutionize SEO strategies by harnessing the
                                power of clustering algorithms. My primary objective is to categorize keywords
                                intelligently, relying on advanced techniques like K-means and hierarchical clustering.
                                Through these algorithms, I autonomously group keywords based on their semantic and
                                contextual similarities.
                            </p>

                            <p class="attention-getter">
                                My purpose is to bring order and structure to the chaotic world of keywords, ensuring
                                that content is not just optimized for search engines but also resonates with the
                                natural language patterns of users. By creating meaningful clusters of related keywords,
                                I help shape a more focused and coherent content strategy.
                            </p>

                            <p class="attention-getter">
                                In essence, I am a tool that goes beyond traditional SEO approaches, aiming to
                                understand user intent at a deeper level. The result is an enhanced website visibility
                                on search engines, as well as a more satisfying user experience. My role is to evolve
                                and adapt, staying ahead of the curve in the dynamic landscape of search engine
                                algorithms and content optimization.

                            </p>
                        </div> <!-- end s-about__content-main -->



                    </div> <!-- content-inner -->
                </div>

            </section> <!-- end s-about -->

            <!-- expertise
            ----------------------------------------------- -->
            <section id="expertise" class="s-expertise">

                <div class="row s-expertise__content width-sixteen-col">
                    <div class="column xl-12 grid-block grid-section-split">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">Expertise</div>
                            <h2 class="text-display-title">
                                My key areas of expertise.
                            </h2>

                            <p class="lead">
                                Expertise in ClusterAI project includes implementing clustering algorithms (K-means,
                                hierarchical clustering), understanding SEO strategies, employing NLP for semantic
                                analysis, proficiency in programming and data processing,adaptability, and collaborative
                                abilities for effective SEO enhancement.

                            </p>
                        </div> <!-- end section-header -->

                        <div class="s-expertise__content-main grid-section-split__primary">

                            <div class="grid-list-items list-items show-ctr">
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">Clustering Algorithms:</h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <p>
                                            Understanding and implementing clustering algorithms such as K-means and
                                            hierarchical clustering, including knowledge of how these algorithms work,
                                            their parameters, and their application to grouping keywords effectively.
                                        </p>
                                    </div>
                                </div> <!-- list-item -->
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">Natural Language Processing (NLP):</h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <p>
                                            Familiarity with NLP techniques to analyze and understand the semantic and
                                            contextual similarities between keywords, which is crucial for accurate
                                            clustering.

                                        </p>
                                    </div>
                                </div> <!-- list-expertise__item -->
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">SEO Strategies:</h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <p>
                                            In-depth knowledge of SEO principles and strategies, including keyword
                                            optimization, content structure, and user intent analysis to ensure that the
                                            clustered keywords align with search engine algorithms and user
                                            expectations.
                                        </p>
                                    </div>
                                </div> <!-- list-expertise__item -->
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">Data Processing and Analysis:</h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <p>
                                            Proficiency in handling and processing large sets of data, especially
                                            related to keyword analytics. This includes skills in data cleaning,
                                            transformation, and analysis.
                                        </p>
                                    </div>
                                </div> <!-- list-expertise__item -->

                            </div> <!-- grid-list-items -->
                        </div> <!-- end s-expertise__content-main -->


                    </div> <!-- end grid-block-->
                </div> <!-- end s-expertise__content -->

            </section> <!-- end s-expertise -->



        </section> <!-- s-content-->






    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>